<header class="recipr-header z-2">
  <i class="menu-toggle icon icon-hamburger" {{bind-attr class="menuState:open"}} {{action 'toggleMenu'}}></i>
  <span class="logo">{{title}}</span>

  <div {{bind-attr class=":pull-right :context-menu contextMenuState:open"}}>
    <i {{action 'toggleContextMenu'}} class="trigger icon icon-vert-dots"></i>
    <div class="content card z-1">
      <span class="menu-header">
        Options <i {{action 'toggleContextMenu'}} class="pull-right icon icon-vert-dots"></i>
      </span>
      {{yield}}
    </div>
    {{#if showCover}}
      <div {{action 'toggleContextMenu'}} class="cover"></div>
    {{/if}}
  </div>
</header>
