{{#if name}}
<h3>{{name}}</h3>
{{/if}}
<ul>
    {{#each node in nodes}}
        <li>
            {{#if node.icon}}
                <i {{bind-attr class=":icon node.icon"}}></i>
            {{/if}}

            {{#if node.external}}
                <a {{bind-attr href=node.target}} target="_blank" >{{node.name}}</a>
            {{else}}
                {{#link-to 'recipes' node.model}}{{node.name}}{{/link-to}}
            {{/if}}
        </li>
    {{/each}}
</ul>