{{#if steps}}
    {{#each step in steps}}
    	{{recipr-step index=step.index content=step.content isEditable=step.isEditable onEdit='startEdit'}}
    {{/each}}
{{/if}}
{{#if addMode}}
	<div {{bind-attr class=":add-form error"}}>
		{{textarea class="step-content" value=stepContent}}
		<div class="actions">
	        <button class="btn bSmall action save" {{action 'saveStep' bubbles=false}}>save</button>
	        <button class="btn bSmall action cancel" {{action 'cancelAdd' bubbles=false }}>cancel</button>
	    </div>
    </div>
{{else}}
	<div class="btn bSmall add-step" {{action 'addStep'}}>add next step</div>
{{/if}}
