<div class="step-wrap"{{action 'edit'}}>
    {{#if step.index}}
        <span class="step-index">{{step.index}}</span>
    {{/if}}

    {{#if isEditable}}
        {{textarea class="step-content" value=step.content}}
    {{else}}
        <p class="step-content">{{step.content}}</p>
    {{/if}}
 
    {{#if isEditable}}
        <div class="actions">
            <button class="btn bSmall action save" {{action 'save' bubbles=false}}>save</button>
            <button class="btn bSmall action delete" {{action 'delete' bubbles=false }}>delete</button>
        </div>
    {{/if}}
</div>
