<form {{action "updateRecipe" on="submit"}} class="fill-content" enctype="multipart/form-data">
  <div class="has-main-action">
    <div class="card rect z-1 dim-default-padding">
      {{input-field placeholder="Title"
                    value=model.title
                    required=true
                    pattern="^.{3,}$"
                    autocomplete="off"
                    isValid=titleIsValid
                    errorMessage="Type at least 3 Characters" }}
    </div>

    <div class="card rect z-1 dim-default-padding">
      <div class="grid">
        <div class="grid-row">
          <div class="grid-col-6"><span {{action "showIngredients"}} {{bind-attr class="showIngredients:btn-accent :tab-ingredients :btn :dim-100 :btn-left"}}>Ingredients</span></div>
          <div class="grid-col-6"><span {{action "showPreparation"}} {{bind-attr class="showPreparation:btn-accent :tab-preparation :btn :dim-100 :btn-left"}}>Preparation</span></div>
        </div>
        <div class="grid-row">
          <div class="grid-col-12">
          {{#if showIngredients}}
            {{recipe-ingredients}}
          {{else}}
            {{recipe-preparation}}
          {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-accent btn-big btn-middle dim-100">Save Recipe</button>
</form>
